*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-size:14px;
    background: #F3F3F7;
}
.content{
    max-width: 78%;
    margin: 0 auto;
}

header{
    margin-top:0.8rem;
    height: 40vh;
    background: url('../images/cover-mobile.jpg') no-repeat;
    background-position: 50% 40%; 
}

header::after{
    content:"";
    width: 48%;
    height: 35vh;
    position: absolute;
    top:0;
    right: 0;
    bottom:0;
    background: #2B2A2A;
    z-index: -1;
}
.menu-mobile{
    display: flex;
    justify-content: flex-end;
}

.menu-mobile img{
    cursor: pointer;
}

.menu-desktop{
    display: none;
}

/*
@media(min-width:400px){
    .menu-mobile{
        display: none;
        }
    .menu-desktop{
    display: block;
}
.menu-desktop ul{
    display: flex;
}

} */


.menu{
    width: 80%;
    margin-top:0.5em;
    position: absolute;
    right: 2.5em;
    display: block;
 
}
.menu ul{
    border: 1px solid #000;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu ul li,
.menu ul li.dicas ul li{
    background: #2B2A2A;
}

.menu ul a{
    font-size: 1.3em;
    font-family: 'Sofia', cursive;
    text-align: center;
    display:block;
    padding: 0.5em 0.7em;
    color:#8C7C42;
    text-decoration: none;
}

ul.suboptions-menu{
    display: none;
}

.menu ul li:hover, .menu ul li:active,
.menu ul li.dicas ul li:hover, .menu ul li.dicas ul li:active{
    background: rgba(43, 42, 42,0.9);
}

.menu .dicas:hover .suboptions-menu,
.menu .dicas:active .suboptions-menu{
    display: block;
}


