*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-size:14px;
    background: #F3F3F7;
}
.content{
    max-width: 78%;
    margin: 0 auto;
}

header{
    margin-top:0.8rem;
    height: 40vh;
    background: url('../images/cover.jpg') no-repeat;
    background-position: 50% 40%;
    background-size: 60%;
}

header::after{
    content:"";
    width: 48%;
    height: 35vh;
    position: absolute;
    top:0;
    right: 0;
    bottom:0;
    background: #2B2A2A;
    z-index: -1;
}
.menu-mobile{
    display: flex;
    justify-content: flex-end;
}
input#btn_menu{
    opacity:0;
}
.menu div{
    width: 25px;
    height: 5px;
    border-radius: 2px;
    background-color:#8c7c42;
    cursor: pointer;
    margin:0.3em;
}

