@media(min-width:360px){
    .separator{
        background: url('../images/bg-curve-desktop.svg');
        background-size: 100% 100%;
    }
}

@media(min-width: 850px){
    header{
        height: 65vh;
        background: url('../images/cover.jpg') no-repeat;
        background-position: 50% 80%; 
        background-size: 30rem;
    }

    header::after{
        height: 70vh;
    }

    header .content .menu-mobile{
        display: none;
    }

    header .content .menu-desktop{
        display: flex;
        justify-content: flex-end;
        margin-top: 2em;
    }

    header .content .menu-desktop ul{
        display: flex;
    }

    header .content .menu-desktop ul li{
        margin:0 1em;
    }
    header .content .menu-desktop a{
        font-size: 1.2em;
    }
    header .content .menu-desktop ul.suboptions-menu li{
        margin: 0.5em 0;
    }
    header .content .menu-desktop .suboptions-menu{
        display: none;
        position: absolute;
    }

    header .content .menu-desktop .suboptions-menu a{
        padding: 0.4em 0.4em;
        color: #8C7C42;
        display: block;
        text-align: center;
    }
    header .content .menu-desktop .suboptions-menu a:hover{
        color: #000;
        background-color: rgba(140, 124, 66,0.7);
    }

    header .content .menu-desktop .dicas:hover .suboptions-menu{
        display: block;
    }

    .separator{
        margin-top:10rem;
    }

    .presentation .content{
        flex-direction: row;
        max-width: 676px;
    }

    .presentation .content p{
        text-align: justify;
        margin-top: 0;
        width: 70%;
        max-width: 375px;
    }
    main .presentation h1{
        max-width: 203px;
    }
    main .presentation h1::after{
        bottom: 10px;
    }

    main .relevants .content{
        grid-template-columns: repeat(3,1fr);
        margin-top:10rem;
        padding-bottom: 8rem;
    }

    .contribute .content{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    footer .footer-nav{
        margin-top:5em;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    footer .content .footer-nav> img{
        margin-top: 0;
        margin-right: 10em;
    }

    footer .footer-nav ul{
        display: flex;
    }
    
    footer .footer-nav ul li{
        margin-left: 2.5em;
    }

    footer .footer-nav ul li a:hover{
        color: #8C7C42;
    }

}

@media only screen and
(min-height:1025px) and (max-height:1366px){
    header{
        height: 35vh;
    }
    header::after{
        height: 40vh;
    }
}

@media(min-width:700px){
    aside .tip{
        display: none;
    }
}