{% extends "layout.njk" %}

{% block head %}
    <title>Dicas Gerais - CafeLand</title>
    <link rel="stylesheet" href="../css/dicas-gerais.css">

{% endblock %}

{% block content %}
    <main>
        <div class="location-navigation">
            <div class="content">
                <ul>
                    <li>
                        <a href="/">Home /</a>
                    </li>
                    <li>
                        <a href="">Dicas /</a>
                    </li>
                    <li>
                        <a href="/dicas-geraiss">Dicas Gerais
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <article class="post">
            <div class="content">
                <section class="mais-recente">
                    <h1>{{dicaGeral.title}}</h1>

                    <p>{{dicaGeral.description}}</p>
                </section>
            </div>
        </article>

        <aside>
            <div class="content">
                <div class="aside-mobile">
                    {% for dica in dicasGerais %}
                        <a href="/dicas-gerais-more?id= {{dica.id}}">
                            <section class="tip tip1">
                                <h3>{{dica.title}}</h3>
                                <div class="desc">
                                    <p>{{dica.reduced}}</p>
                                    <img width="30" src="/images/" alt="">
                                </div>
                            </section>
                        </a>
                    {% endfor %}
                </div>

                <div class="aside-desktop">
                    <ul>
                        {% for dica in dicasGerais %}
                            <li id='{{dica.id}}'>
                                <a href="/dicas-gerais-more?id={{dica.id}}">{{dica.title}}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </aside>
    </main>
{% endblock %}