{% extends "layout.njk" %}

{% block head %}
    <title>Home - CafeLand</title>
    <link rel="stylesheet" href="/css/home.css">
{% endblock %}

{% block content %}
    <main>
        <section class="presentation">
            <div class="content">
                <h1>{{presentation.title}}</h1>
                <p>
                    {{presentation.desc}}
                </p>
            </div>
        </section>
        <section class="relevants">
            <div class="content">
                <div class="card">
                    <div class="face img-grid">
                        <img src="images/torneio-cafe3.jpg" alt="">
                        <h2>Reduza o tempo de espera do caminhão</h2>
                    </div>
                    <div class="face face2">
                        <p>
                            O caminhão para encher as caixas do buffet pode chegar bem mais rápido agora. Confira!
                        </p>
                        <a href="">Ler Mais</a>
                    </div>
                </div>

                <div class="card">
                    <div class="face img-grid">
                        <img src="images/torneio-cafe3.jpg" alt="">
                        <h2>Cumpra rapidamente a tarefa de ganho de dinheiro e xp nas festas</h2>
                    </div>
                    <div class="face face2">
                        <p>
                            Faça menos festas e ainda assim atinja a potencial quantidade pedida na tarefa. Confira!
                        </p>
                        <a href="">Ler Mais</a>
                    </div>
                </div>
                <div class="card">
                    <div class="face img-grid">
                        <img src="images/torneio-cafe3.jpg" alt="">
                        <h2>Consiga 1/2 mais de emblemas
                        </h2>
                    </div>
                    <div class="face face2">
                        <p>
                            Para cada prato cozinhado receba 1/2 a mais de emblemas para gastar nos eventos. Confira!
                        </p>
                        <a href="">Ler Mais</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <section class="contribute">
        <div class="content">
            <div class="contribute-contact">
                <h2>Contribua</h2>
                <p>Se você deseja enviar uma dica para ser publicada e ajudar a comunidade, entre em contato:
                </p>
                <div class="email">
                    <img src="images/icon-email.svg" alt="icon email">
                    <a href="mailto:jessicarosalia678@gmail.com">Enviar e-mail</a>
                </div>
            </div>
            <span>Dicas por Jéssica Rosália e Raquel Fernandes</span>
        </div>
    </section>
{% endblock %}