<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/responsive.css">

    {% block head %}
    <title>CafeLand</title>
    {% endblock %}
</head>

<body onload="refresh()">
    <header>
        <div class="content">
            <div class="menu-mobile">
                <img onclick="btn_menu()" class="img-menu" src="images/union.png" alt="">
            </div>
            <nav class="menu-desktop">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li class="dicas"><a>Dicas</a>
                        <ul class="suboptions-menu">
                            <li><a href="/dicas-gerais">Dicas Gerais</a></li>
                            <li><a href="">Liga</a></li>
                        </ul>
                    </li>
                    <li><a href="">Contato</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="separator"></div>
    {% block content %}

    {% endblock %}

    <footer>
        <div class="content">
            <div class="footer-nav">
                <img src="images/logo-branca.png" alt="CafeLand logo">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/dicas-gerais">Dicas Gerais</a></li>
                    <li><a href="">Liga</a></li>
                    <li><a href="">Contato</a></li>
                </ul>
            </div>
            <p class="developer">Designed and developed by <a href="https://github.com/jessicarf18" target="_blank"><img
                        src="https://img.icons8.com/material-sharp/22/FFFFFF/github.png" alt="Jéssica Rosália Github" />
                    Jéssica Rosália</a></p>
        </div>

    </footer>
    <script src="js/index.js"></script>

</body>

</html>