@import "https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;700&family=Sofia&display=swap";
:root{
    --color-gold-main: #8c7c42;
    --color-black-opaque: #2B2A2A;
    --color-black-text: rgba(0,0,0,0.8);
    --color-gray-light: #F3F3F7;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', 'Poppins',sans-serif;
    font-size:14px;
    background:#F3F3F7;
}

p{
    color:rgba(0,0,0,0.8);
    line-height:1.4em;
}

h1{
    font-family: 'Sofia', cursive;
}

ul {
    list-style: none;
}

a{
    font-family: 'Sofia', cursive;
    text-decoration: none;
}

.content{
    width: 78%;
    max-width: 1220px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

header{
    margin-top:0.8rem;
    height: 40vh;
    background: url('../images/cover-mobile.jpg') no-repeat;
    background-position: 50% 40%; 
}

header::after{
    content:"";
    width: 48%;
    height: 37vh;
    position: absolute;
    top:0;
    right: 0;
    bottom:0;
    background: #2B2A2A;
    z-index: -1;
}
header .content a {
    color:#8C7C42;
}
header .content .menu-mobile{
    display: flex;
    justify-content: flex-end;
}

header .content .menu-mobile img{
    cursor: pointer;
}

header .menu-desktop{
    display: none;
}

header .menu-desktop a{
    padding: 0.3em 1.2em;
}

header .menu-desktop a:hover{
    background-color:#8C7C42 ;/* rgba(0, 0, 0, 0.514); */
    color: #000;
    border-radius: 0.3em;
}

header .menu-desktop li.dicas a:hover{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}


/*
@media(min-width:400px){
    .menu-mobile{
        display: none;
        }
    .menu-desktop{
    display: block;
}
.menu-desktop ul{
    display: flex;
}

} */


.menu{
    width: 80%;
    margin-top:1.5em;
    position: absolute;
    right: 2.5em;
    display: block;
 
}
.menu ul{
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu ul{
    background: #2B2A2A;
}

.menu ul a{
    font-size: 1.3em;
    text-align: center;
    display:block;
    padding: 0.5em 0.7em;
}

ul.suboptions-menu{
    display: none;
}

.menu ul li:hover, .menu ul li:active,
.menu ul li.dicas ul li:hover, .menu ul li.dicas ul li:active{
    background: rgba(43, 42, 42,0.9);
}

.menu .dicas:hover .suboptions-menu,
.menu .dicas:active .suboptions-menu{
    display: block;
}

.separator{
    background: url('../images/wave2.svg') no-repeat;
    background-size: 100% 100% ;
    height: 5rem;
}

main{
    margin-top:-0.5em;
    background: #F8F8FE;
}

footer{
    background-color: #2B2A2A;
}

footer .content .footer-nav > img{
    width: 100px;
    margin:2.7em 0 1em;
}

footer ul a{
    color: #fff;
    display: block;
    font-size:1.1em;
    margin-bottom:1em;
}

footer .developer, footer .developer a{
    margin: 0 auto;
    font-family: inherit;
    color:rgba(255,255,255,0.7);
    font-size: 1em;
    font-weight: bold;
    margin-top: 2em;
    margin-bottom:1em;
}

footer .developer a img{
    vertical-align: text-top;
}

footer .developer img:hover{
    background-color: #8C7C42;
    border-radius: 50%;
}

@media(min-width:360px){
    .separator{
        background: url('../images/bg-curve-desktop.svg');
        background-size: 100% 100%;
    }
}


@media(min-width:700px){
    body{
        font-size: 16px;
    }
}

@media(min-width: 850px){
    header{
        height: 65vh;
        background: url('../images/cover.jpg') no-repeat;
        background-position: 50% 80%; 
        background-size: 30rem;
    }

    header::after{
        height: 70vh;
    }

    header .content .menu-mobile{
        display: none;
    }

    header .content .menu-desktop{
        display: flex;
        justify-content: flex-end;
        margin-top: 2em;
    }

    header .content .menu-desktop ul{
        display: flex;
    }

    header .content .menu-desktop ul li{
        margin:0 1em;
    }
    header .content .menu-desktop a{
        font-size: 1.2em;
        padding: 0 1.9em;
    }
    header .content .menu-desktop .suboptions-menu{
        display: none;
        position: absolute;
        background: #8C7C42;
    }

    header .content .menu-desktop ul.suboptions-menu li{
        margin: 0.5em 0;
    }

    header .content .menu-desktop .suboptions-menu a{
        padding: 0.4em 0.4em;
        color: #000;
        display: block;
        text-align: center;
    }
    header .content .menu-desktop .suboptions-menu a:hover{
        color: #000;
        background-color: rgba(140, 124, 66,0.7);
    }

    header .content .menu-desktop .dicas:hover .suboptions-menu{
        display: block;
    }

    .separator{
        margin-top:10rem;
    }

    footer .footer-nav{
        margin-top:5em;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    footer .content .footer-nav> img{
        margin-top: 0;
        margin-right: 10em;
    }

    footer .footer-nav ul{
        display: flex;
    }
    
    footer .footer-nav ul li{
        margin-left: 2.5em;
    }

    footer .footer-nav ul li a:hover{
        color: #8C7C42;
    }
}


@media only screen and
(min-height:1025px) and (max-height:1366px){
    header{
        height: 35vh;
    }
    header::after{
        height: 40vh;
    }
}
